/* 상단바 아래 컨텐츠 */
#divOuter{
    /* border: 1px solid red; */
    align-content: center;
    display: flex;    
    width: 100%;
    justify-content: center;


}
#enrollbroker-Container{
    /* border: 1px solid #075A2A; */
    width: fit-content;
    height: fit-content;
    justify-content: center;
    
}
#enrollbroker-Container>#enrollbrokerFrm>div>hr{
    width:310px;
    margin-left: 0px;
}
#enrollbroker-Container>#enrollbrokerFrm>div>h1{
    margin-bottom: 10px;
    padding-top: 30px;
}
#enrollbroker-Container>#enrollbrokerFrm>div>input{
    width: 250px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);

}

#enrollBrokerBtn{
    width:310px;
    height:40px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #075A2A;
    color: white;
    border-color: #075a2a8c;
    border-radius: 5px;
    border:none;
}

p#info{
    width:310px;
    height:130px;
}

#brokerInfo-Container{
    margin-top: 180px;
}

.content{
    margin-top: 70px;
    display: flex;
    width: 100%;
}

.enroll-container{
	margin-top: 35px;
}
input::placeholder {  
  font-size: 13px;
}