@charset "UTF-8";

/* div{
    border: 1px solid #075A2A;
} */

/* ---------------------------------------------------------------------------- */
/* 버튼 */
#buttonDiv>input{
    float: right;
    margin-left: 20px;
}
.button{
    background-color: rgb(7, 90, 42);
    color: white;
    height: 30px;
    border : none;
}

/* 매물 목록 */
table{
	text-align: center;
	width: 100%;
	border-top: 1px solid #444444;
	border-collapse: collapse;
}
th{
	height: 50px; 
	border-bottom: 1px solid rgb(190, 190, 190);
	padding: 10px;	
	background-color: lightgrey;
    /* color: white; */
}
td{
	height: 40px; 
	border-bottom: 1px solid #444444;
	padding: 10px;
	background-color: white;
}

tr:nth-child(even){
	background-color: green !;
}
tr:nth-child(odd){
	background-color: yellow;
}

input[type=checkbox]{
   	width: 18px;
    height: 18px; 
    accent-color: yellow;
}
