@charset "UTF-8";

/* div{
    border: 1px solid #075A2A;
} */
body{
    background-color: #d9dfd4;
}

/* ---------------------------------------------------------------------------- */
/* 버튼 */
#buttonDiv{
    /* border: 1px solid black; */
    display: flex;
    width: 85%;
}
.button{
    background-color: rgb(7, 90, 42);
    color: white;
    height: 40px;
    width: 100px;
    font-size: 18px;
    border : none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

/* 매물 목록 */
#container{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
}
.propertyWrap{
    background-color: #d9dfd4;
    border: 2px solid rgb(64, 64, 64);
    box-shadow: 5px 5px gray;
    border-radius: 10px;
    width: 400px;
    height: 443px;
    margin-top: 20px;
    /* margin-right: 13px; */
}
.imgDiv{
    display: flex;
    justify-content: center;
}
.imgDiv>img{
    margin-top: 5px;
    width: 350px;
    height: 230px;
    border: 1px solid gray;
}
.infoDiv{
    margin-left: 20px;
    margin-top: 5px;
}
.price>span{
    font-weight: bolder;
    font-size: 20px;
}
input[type=checkbox]{
    width: 23px;
    height: 23px; 
    accent-color: yellow;
    margin-left: 20px;
    margin-top: 9px;
}
.updateBtn{
	background-color: rgb(7, 90, 42);
    color: white;
    margin-top: 7px;
    margin-right: 23px;
    height: 26px;
    width: 49px;
    border: none;
    border-radius: 3px;
    float: right
}
#noDiv{
	text-align: center;
}

#pageDic{
	width: 90%;
}

#pageBar{
	font-size: 28px;
    font-weight: bolder;
}

#pageBar>a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

span#cPage{
	text-align: center;
    color: red;
}

