@charset "UTF-8";

/* div{
    border: 1px black solid;
}
span{
    border: 1px blue solid;
}  */

/* 매물등록메뉴 */
span{
	font-size : 18px;
	font-weight : bolder;
}
#wrap{
    background-color: white;
    width: 60%;
    margin-left: 19%;
    margin-top: 2%;
    /* text-align: center; */
}
#wrap>div,h3,h2,h1{
    margin-left: 30px;
}
#sample5_address{
	background-color: lightgrey; 
	border-width:1px; 
	height: 22px; 
	width: 400px;
}
#priceDiv{
    display: flex;
    align-items: center;
    background-color: #d9dfd4;
    /* background-color: rgb(7, 90, 42); */
    height: 50px;
    width: 600px;
    vertical-align: middle;
    border: 1px black solid;
    border-radius: 7px;
}
#priceDiv p{
    font-weight: bolder;
    font-size: 17px;
    /* color: white; */
}
.p{
    /* color: white; */
    border: 1px solid black;
    width: 40px;
    text-align: center;
    margin-right: 10px;
    margin-left: 20px;
    font-weight: bolder;
} 
.greytext{
    background-color: white; 
    text-align:center;
    margin-left: -5px;
    width: 35px;
    border: 1px solid rgb(60, 60, 60);
    font-size: 13px;
    color: rgb(60, 60, 60);
}
.redtext{
    color: red;
}
.greenbutton{
    background-color: rgb(7, 90, 42);
    color:white;
    border-width: 0px; 
    font-weight : bolder;
    border-radius: 3px;
    height: 28px;
    width: 70px;
    font-size: 15px; 
    cursor:pointer;
}
#wrap>hr{
    width: 95%;
    margin-top: 25px;
}
.checkbox{
    accent-color: yellow;
    width: 15px;
    height: 15px;
}
.radio{
    accent-color: green; 
}
#insertbtn{
	width: 60%;
    height: 47px;
    font-size: 22px;
    border-radius: 7px;
    cursor:pointer;
}
div#optionAll{
    margin-left: 10px;
    width: 500px;
}

/* 네비게이션 바 */
#navi{
    background-color: rgb(113, 112, 112);
    color: white;
    position: fixed;
    left: 85%;
    bottom: 500px;
    top : 150px;
    width: 180px;
    height: 650px;
}
#navi>h4{
    margin-bottom: 5px;
    font-size: 14px;
}
.aTag{
    text-decoration: none;
    color: white !important; 
    margin-left: 30px;
    margin-top: 10px;
    font-size: 14px;
}
#navi>hr{
    border: 1px solid gray;
    background-color: white;
    width:80%;
}
