@charset "UTF-8";
div#listContainer>h2{
	text-align:center;
	font-size:25px;
	font-weight:bolder;
	padding:15px;
}
div.tableContainer>table{
	width:100%;
	text-align: center;
	border-collapse : collapse;
}
div.tableContainer>table th,td{
	border : 1px solid black;
	padding:5px 10px 5px 10px;
}
div#pageBarContainer{
	display:flex;
	justify-content: center;
}

div#search-container{text-align:center;}
div#search-officeName{display:inline-block;}
div#search-brokerNo{display:none;}
div#search-registrationNo{display:none;} 
div#search-admissionState{display:none;} 
div#search-container {margin:0 0 10px 0; padding:3px; }
div#numPerpage-container{text-align:right; padding:0px 40px 20px 0px;}

button#admissionBtnToY{
	background-color: blue;
	color:white;
	border:none;
}
button#admissionBtnToN{
	background-color: red;
	color:white;
	border:none;
}

