@charset "UTF-8";

p{
	margin:4px 0px 5px 30px;
}
footer{
	background-color: rgb(64, 64, 64);
	font-size:12px;
	color:white;
	padding:50px;
}
footer:first-child{
	font-size:20px;
}
div#interFooter{
	background-color:#d9dfd4;
	height:150px;
}