@charset "UTF-8";

body{
    background-color: #d9dfd4;
}
/* 상단바 고정메뉴 */
header{
    display: flex;
    justify-content: space-between;
    font-family: 'Poor Story', cursive;
}

div.menu{
    font-size:35px;
    font-weight:bolder;
    vertical-align:middle;
    margin-top:45px;
}
.buttonContainer{
	margin-top:10px;
    margin-right:10px;
    border-radius: 5px;
}

.buttonContainer button{    
    width:150px !important;
    height:40px !important;     
    background-color: rgb(7, 90, 42);
    color:white;
    border:5px;
    
}
.buttonContainer button>p{
    font-weight: bolder;
    font-size:17px;
}

p{
    margin:0px;
}

/* 12/17 추가 [BD] */
#adminButtonContainer>button{
	background-color:beige;
	border:none;
	font-weight:bolder;
	font-size:14px;
}
#adminButtonContainer a{
	color:rgb(7, 90, 42) !important;
}
.buttonContainer #loginUser{
	width:150px;
	height:45px;
	display:flex;
	justify-content: center;
}
.buttonContainer #loginUser>div{
	font-size:22px !important;
	color:black !important;
	text-align:center;
	font:normal !important;
	font-weight:bolder;
	display:flex;
}


/* 12/04 추가 호버, a태그 이상한거 수정, 버튼 테두리 둥글게*/

div.menu a{
    text-decoration:none;
}
div.menu a:visited{
    color:black;
}
/* hover 추가 */
div.menu p:hover{
	font-size:40px;
	color: rgb(7, 90, 42);
}
div.buttonContainer *{
    text-decoration:none;
    color:white;    

}
div.buttonContainer *:visited{
    text-decoration:none;
    color:white;

}
header>a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration:none;

}

button{
    border-radius: 5px;
}

head {
    display: block;
}
